// Colours
$body-colour: #a2bce0;

$login-btn-colour-dark: #d33e43;
$login-btn-colour-light: #e89b9e;
$login-btn-colour-highlight: #a6262a;

$navbar-colour: #ffae03;
$navbar-colour-light: #ffdf99;

$colour-form-light2: #c0bec5;

$colour-white: #fff;
$colour-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-form-light1: #7169b8;

$color-form-dark: #3b338a;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//Font

$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
