.footer {
  background-color: black;
  color: blanchedalmond;
  height: auto;
  width: 100%;
  margin: 0;
  // margin-bottom: -4rem;
  padding: 3rem;
  padding-right: 8rem;
  display: inline-flex;

  @include respond(phone) {
    display: flex;
    flex-direction: column-reverse;
  }

  &__info {
    width: 80%;
    @include respond(phone) {
      width: 100%;
    }
    &__header {
      font-size: 3rem;
      padding-bottom: 3rem;
    }
    &__blurb {
      font-size: 1.4rem;
    }
  }

  &__logo {
    height: 12rem;
    width: auto;
    background: black;
    float: right;

    @include respond(phone) {
      height: 12rem;
      float: left;
      padding-bottom: 2rem;
    }
  }
}
