.section-leauge {
  align-items: center;
  padding-bottom: 3rem;
  position: relative;

  @include respond(phone) {
    // position: absolute;
    // top: 400vh;
    // left: 0;
  }

  &__heading {
    text-align: center;
    padding: 3rem 0;
    padding-bottom: 2rem;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    font-size: 3rem;

    @include respond(phone) {
      padding: 1.5rem;
      font-size: 1.8rem;
    }
  }
  @include respond(phone) {
    padding: 0;
  }

  &__info {
    color: black;
    font-size: 1.6rem;
    padding-left: 9%;
    padding-bottom: 1rem;
    padding-top: 3rem;
  }

  &__info-overall {
    display: flex;
    @include respond(phone) {
      display: block;
    }

    &__last-update {
      padding-left: 32%;

      @include respond(phone) {
        padding-left: 0;
        padding-top: 2.5rem;
      }
    }
  }

  &__table {
    color: black;
    width: 85%;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    text-align: center;
    display: table;
    background-color: blanchedalmond;

    @include respond(phone) {
      padding: 0;
      width: 100%;
      font-size: 1.5rem;
    }

    &__head {
      text-decoration: underline;
    }

    &__head th {
      width: 16%;
    }

    &__contents {
      width: 100%;
    }
  }
}
